@font-face {
  font-family: "Geologica";
  src: url("public/fonts/Geologica-Regular.ttf") format(".ttf");
}
@font-face {
  font-family: "GetVoIP Grotesque";
  src: url("public/fonts/GetVoIP\ Grotesque.ttf") format(".ttf");
}

:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "GetVoIP Grotesque", sans-serif;
  /* colors */
  --text-main: #fff;
  --text-title-white: #fff;
  --text-black: #1b1b1b;
  --text-red: #d43228;

  /* bg colors */
  --bg-red: #d43228;
  --bg-green: #69ab40;
  --bg-black: #1b1b1b;
  --bg-white: #e7e7e7;

  /* rounded */
  --rounded-small: 20px;
  --rounded-medium: 30px;
  --rounded-large: 60px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-red) var(--bg-black);
}

body {
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--bg-black);
}

.container {
  width: min(100%, 1440px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 135px;
  padding-right: 135px;
}

.dropdown__list--visible {
  display: flex !important;
}

.dropdown__list--visible + .dropdown__button::after {
  top: 55%;
  transform: rotate(225deg);
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 20;
  left: 50%;
  translate: -50% 0;
  color: var(--text-main);
}

.header__top,
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.header__top::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.16);
}
.header__bottom {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  max-width: 144px;
  margin-left: 28px;
  margin-right: 69px;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #979797;
}

.header__location {
  margin-right: 69px;
  display: grid;
  grid-template-rows: 22px 22px;
  grid-template-columns: 44px auto;
  gap: 0 16px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
}
.header__location .location__icon {
  grid-row: 1 / 3;
}
.header__location .location__address {
  width: max-content;
  font-weight: 300;
}

.header__contact {
  margin-right: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__contact .contact__telegram {
  margin-left: 4px;
  margin-right: 16px;
}
.header__contact .contact__chat {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
}
.header__contact .contact__chat b {
  width: 100%;
  display: inline-block;
  font-weight: 600;
}

.header__download {
  width: 163px;
  height: 44px;
  border-radius: var(--rounded-large);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-red);
  color: var(--text-main);
  font-weight: 600;
}

.header__navigation .navigation__list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--text-main);
}

.header__navigation .navigation__list .navigation__item a {
  color: inherit;
}

.header__call {
  margin-left: auto;
}
.header__call .call__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}
.header__call .call__btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  text-decoration: underline;
  color: var(--text-red);
}

.header__menu {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  background-color: var(--bg-red);
}

.header__menu div {
  width: 100%;
  height: 2px;
  background-color: var(--bg-white);
}

/* HERO */
.hero {
  min-height: 810px;
  padding-top: 231px;
  background-image: url("public/img/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(27, 27, 27, 0) 0% 80%, #1b1b1b 100%);
}
.hero__content {
  position: relative;
  z-index: 1;
}

.hero__title {
  max-width: 815px;
  margin-bottom: 52px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-title-white);
  text-wrap: balance;
}

.hero__features {
  margin-bottom: 52px;
  display: flex;
  gap: 60px;
  color: var(--text-main);
}

.hero__features .featute__text {
  max-width: 171px;
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.hero__btn {
  border-radius: 60px;
  width: 100%;
  max-width: 294px;
  height: 72px;
  background-color: var(--bg-red);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--text-main);
}

/* BRANDS */
.brands {
  padding-top: 44px;
}

.brands__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-title-white);
}

.brands__text {
  margin-top: 12px;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  display: block;
  color: var(--text-main);
}

.brands .brands__item {
  width: 170px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #252525;
}

.swiper-brands {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}
.swiper-brands .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-brands .swiper-slide div {
  width: 170px;
  height: 128px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.swiper-brands-controls {
  margin-top: 44px;
  padding-left: 1px;
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-brands-button-prev,
.swiper-brands-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-red);
  cursor: pointer;
}

.swiper-brands-button-prev::after {
  content: url("public/img/brands/arrow_l.png");
}
.swiper-brands-button-next::after {
  content: url("public/img/brands/arrow_r.png");
}

/* SERRVICES */

.services__title {
  margin-top: 120px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-title-white);
}

.services__text {
  display: block;
  margin-top: 12px;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-main);
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
  counter-reset: services-count;
}

.services__list .service {
  height: 252px;
  padding: 32px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252525;
  position: relative;
  counter-increment: services-count;
}

.service__title {
  max-width: 260px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-title-white);
}
.service__title::after {
  content: "0" counter(services-count);
  position: absolute;
  top: 32px;
  right: 32px;
  color: #535353;
}

.service__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-main);
}

.service__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__btn {
  border-radius: 60px;
  width: 178px;
  height: 44px;
  background-color: var(--bg-red);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-main);
}

.service .service__download {
  font-weight: 300;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  color: var(--text-red);
}

/* BANNER */
.banner {
  margin-top: 120px;
}

.banner__content {
  min-height: 488px;
  padding: 62px 72px 72px 72px;
  border-radius: 30px;
  background-image: url("public/img/banner/banner_bg.png");
  background-size: cover;
  background-position: center;
}

.banner__title {
  max-width: 577px;
  margin-bottom: 44px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-wrap: balance;
  color: var(--text-title-white);
}

.banner__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-main);
}

.form__fields-wrapper {
  margin-top: 20px;
  margin-bottom: 18px;
  display: flex;
  gap: 20px;
}

.banner__form .form__dropdown {
  border-radius: 60px;
  width: 100%;
  max-width: 258px;
  height: 72px;
  background-color: #fff;
  position: relative;
}
.banner__form .form__dropdown .dropdown__list {
  width: 100%;
  max-width: 258px;
  margin-top: 8px;
  border-radius: 12px;
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
}

.dropdown__list .dropdown__list-item {
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.dropdown__list .dropdown__list-item:first-of-type {
  border-radius: 8px 8px 0 0;
}
.dropdown__list .dropdown__list-item:last-of-type {
  border-radius: 0 0 8px 8px;
}

.dropdown__list .dropdown__list-item:hover {
  background-color: #535353;
  transition: background-color 250ms ease-in-out;
}

.dropdown__input-hidden {
  display: none;
}

.dropdown__button,
.form__phone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.dropdown__button {
  position: relative;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 47%;
  right: 32px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}

.banner__form .form__phone {
  border-radius: 60px;
  padding: 24px 32px;
  width: 100%;
  max-width: 258px;
  height: 72px;
  background-color: #fff;
}
.banner__form .form__phone input {
  font-weight: 600;
  font-size: inherit;
  line-height: 171%;
}
.banner__form .form__phone input::placeholder {
  color: #000;
  font-weight: 300;
}

.banner__form .form__submit {
  border-radius: 60px;
  padding: 24px 32px;
  width: 100%;
  max-width: 258px;
  height: 72px;
  background-color: #d43228;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--text-main);
}

.form__agreement [type="checkbox"] {
  accent-color: var(--bg-red);
}

.form__agreement {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-main);
}

/* ANSWERS */
.answers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("public/img/answers/answers_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.answers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      180deg,
      rgba(27, 27, 27, 0) 40%,
      rgba(27, 27, 27, 0.2) 90%
    ),
    linear-gradient(0deg, rgba(27, 27, 27, 0) 30%, rgb(27, 27, 27) 90%),
    rgba(27, 27, 27, 0.2);
  z-index: 0;
}

.answers__content {
  position: relative;
  z-index: 1;
}

.answers__title {
  max-width: 644px;
  margin: 0 auto 12px auto;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-title-white);
}

.answers__text {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-main);
}

.answers__list {
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  counter-reset: answer-counter;
}

.answers__item {
  min-height: 270px;
  min-height: 250px;
  padding: 32px;
  border-radius: 30px;
  backdrop-filter: blur(24px);
  background: rgba(27, 27, 27, 0.5);
  border: 1px solid #9e9e9e;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: var(--text-main);
  counter-increment: answer-counter;
}

.answers__item::before {
  content: "0" counter(answer-counter);
  width: 44px;
  height: 44px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-red);
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: var(--text-main);
}

.answers__statistics {
  margin-top: 37px;
  display: flex;
  gap: 30px;
  color: var(--text-main);
}

.statistics__item {
  max-width: 270px;
  width: 100%;
}

.statistics__item b {
  display: block;
  margin-bottom: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  text-transform: uppercase;
}

.statistics__item span {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}

.swiper-answers {
  width: 234px;
  height: 266px;
  margin-left: auto;
  padding-left: 22px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.swiper-answers-button-prev,
.swiper-answers-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background-color: var(--bg-red);
  z-index: 1;
  cursor: pointer;
}

.swiper-answers-button-prev {
  left: 0;
}
.swiper-answers-button-next {
  right: 0;
}
.swiper-answers-button-prev::after {
  content: url("public/img/brands/arrow_l.png");
}
.swiper-answers-button-next:after {
  content: url("public/img/brands/arrow_r.png");
}

/* PROMOTIONS */
.promotions {
  padding-top: 100px;
  background-color: var(--bg-white);
  position: relative;
  box-shadow: 3px 20px 20px -9px rgba(0, 0, 0, 1) inset;
}

.promotions__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-black);
}

.promotions__text {
  margin-top: 12px;
  margin-bottom: 44px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-black);
}

.promotions__list {
  margin-bottom: 44px;
}

.promotions .promotions__item {
  min-height: 260px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  border-radius: 30px;
  color: var(--text-main);
}

.promotions__item:nth-child(odd) {
  background-color: var(--bg-red);
}

.promotions__item:nth-child(even) {
  background-color: var(--bg-black);
}

.promotions__item:nth-child(1) {
  background-image: url("public/img/promotions/bg_image_1.png");
}
.promotions__item:nth-child(2) {
  background-image: url("public/img/promotions/bg_image_2.png");
}
.promotions__item:nth-child(3) {
  background-image: url("public/img/promotions/bg_image_3.png");
}
.promotions__item:nth-child(4) {
  background-image: url("public/img/promotions/bg_image_2.png");
}

.promotions__item .promotion__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.promotions__item .promotion__description {
  max-width: 190px;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
}

.promotions__item .promotion__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.promotions__item:nth-child(even) .promotion__btn {
  color: var(--text-red);
}

.swiper-promotions {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.swiper-promotions-controls {
  margin-top: 44px;
  display: flex;
  gap: 8px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.swiper-promotions-button-prev,
.swiper-promotions-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-red);
  cursor: pointer;
}

.swiper-promotions-button-prev::after {
  content: url("public/img/brands/arrow_l.png");
}
.swiper-promotions-button-next::after {
  content: url("public/img/brands/arrow_r.png");
}

/* PORTFOLIO */
.portfolio {
  padding-top: 120px;
  background-color: var(--bg-white);
  color: var(--text-black);
}

.portfolio__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

.portfolio__text {
  margin-top: 12px;
  margin-bottom: 44px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
}

.portfolio__work {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
}

.portfolio__work .work__others-images {
  margin-top: 11px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.work__others-images button {
  max-width: 84px;
  max-height: 68px;
}

.portfolio__work .work__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.portfolio__work .work__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #1c1c1c;
}

/* SECOND-BANNER */
.second-banner {
  padding-top: 120px;
  background-color: var(--bg-white);
}

.second-banner__content {
  min-height: 370px;
  padding: 62px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("public/img/banner/banner_bg_2.png");
  background-size: cover;
  background-position: center;
  color: var(--text-main);
}

.second-banner__title {
  max-width: 570px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  grid-column: 2 / 3;
}

.second-banner__text {
  margin-top: 44px;
  margin-bottom: 20px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  grid-column: 2 / 3;
}

.second-banner__btn {
  width: fit-content;
  padding: 14px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-green);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2 / 3;
}
.second-banner__btn svg {
  border-radius: 50%;
  animation: pulse-animation 1.4s infinite linear;
}

/* INCSTRUCTIONS */
.instructions {
  padding-top: 120px;
  background-color: var(--bg-white);
  color: var(--text-black);
}

.instructions__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

.instructions__text {
  margin-top: 12px;
  margin-bottom: 44px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.instructions__step {
  min-height: 466px;
  padding: 32px;
  border-radius: 30px;
  color: var(--text-main);
  background-size: cover;
  background-position: center;
}
.instructions__step:nth-child(1) {
  background-image: url("public/img/instructions/step_1.png");
}
.instructions__step:nth-child(2) {
  background-image: url("public/img/instructions/step_2.png");
}
.instructions__step:nth-child(3) {
  background-image: url("public/img/instructions/step_3.png");
}
.instructions__step:nth-child(4) {
  background-image: url("public/img/instructions/step_3.png");
}

.step__num {
  margin-bottom: 32px;
  padding: 12px 30px;
  border-radius: 60px;
  display: inline-block;
  background-color: var(--bg-white);
  color: var(--text-red);
}

.step__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.step__title address a {
  color: var(--bg-white);
}

.step__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
}

.step__text {
  margin-top: 106px;
  margin-bottom: 20px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.step__btn {
  width: 178px;
  height: 44px;
  border-radius: 60px;
  background-color: var(--bg-red);
}

.swiper-instructions {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.swiper-instructions-controls {
  margin-top: 44px;
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-instructions-button-prev,
.swiper-instructions-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-red);
  cursor: pointer;
}

.swiper-instructions-button-prev::after {
  content: url("public/img/brands/arrow_l.png");
}
.swiper-instructions-button-next::after {
  content: url("public/img/brands/arrow_r.png");
}

/* REVIEWS */
.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--bg-white);
}
.reviews__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-black);
}
.reviews__text {
  margin-top: 12px;
  margin-bottom: 44px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-black);
}

.swiper-reviews {
  overflow: hidden;
  position: relative;
  user-select: none;
}

.swiper-reviews-button-prev,
.swiper-reviews-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-red);
  cursor: pointer;
}

.swiper-reviews-button-prev {
  left: 0;
}
.swiper-reviews-button-next {
  right: 0;
}

.swiper-reviews-button-prev::after {
  content: url("public/img/brands/arrow_l.png");
}
.swiper-reviews-button-next::after {
  content: url("public/img/brands/arrow_r.png");
}

/* CONTACTS-FORM */
.contact-form {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("public/img/contacts/contacts_bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--bg-white);
  color: var(--text-main);
}
.contact-form__wrap {
  display: grid;
  grid-template-columns: 1fr min(100%, 370px);
}

.contact-form__wrap div:last-of-type {
  margin-left: auto;
}

.contact-form__title {
  max-width: 370px;
  margin-bottom: 44px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-title-white);
}

.contact-form__hours {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.contact-form__phone {
  margin-top: 7px;
  margin-bottom: 120px;
  font-weight: 600;
  font-size: 22px;
  line-height: 109%;
}

.contact-form__phone a {
  color: inherit;
}

.contact-form__socials {
  display: flex;
  align-items: center;
}

.contact-form__socials svg:nth-child(2) {
  margin-left: 7px;
  margin-right: 16px;
}

.contact-form__socials span {
  max-width: 106px;
}

.contact-form__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-form__description span {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.contact-form__description li {
  list-style-type: disc;
}

.contact-form__form {
  margin-top: 32px;
}

.contact-form__form label:first-of-type {
  display: block;
  margin-bottom: 12px;
  padding: 24px 32px;
  border-radius: 60px;
  background-color: var(--bg-white);
}

.contact-form__form label:first-of-type input {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: var(--text-black);
}

.contact-form__form button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px 40px;
  border-radius: 60px;
  background-color: var(--bg-red);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.contact-form__form [type="checkbox"] {
  accent-color: var(--bg-red);
}
.contact-form__form span {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

/* ABOUT */
.about {
  padding-top: 120px;
  background-color: var(--bg-white);
  text-align: center;
}

.about__title {
  margin-bottom: 44px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-black);
}

.about__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-black);
}

/* CONTACTS */
.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--bg-white);
  color: var(--text-black);
}

.contacts__title {
  margin-bottom: 32px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.contacts__address div {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts__address > a {
  margin-top: 26px;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  text-decoration: underline;
  color: var(--text-red);
}

.contacts__address a {
  color: var(--text-red);
  text-decoration: underline;
}

.contact__socials div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.contact__socials span {
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
}

.contacts__map {
  border-radius: 20px;
  overflow: hidden;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content a {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-main);
}

.footer__content a:nth-child(2) {
  color: var(--text-red);
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__top,
  .header__contact {
    display: flex;
    justify-content: space-between;
  }
  .header__contact {
    margin: 0;
  }
  .hero__title {
    font-size: 28px;
  }
  .hero__features {
    flex-direction: column;
  }
  .swiper-brands {
    justify-content: center;
  }
  .services__list .service {
    padding: 16px;
  }
  .banner__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner__title {
    font-size: 24px;
  }
  .banner__form .form__submit,
  .banner__form .form__phone {
    padding: 0;
  }
  .answers__statistics {
    align-items: center;
    text-align: center;
  }
  .swiper-answers {
    margin: 0;
    padding: 0;
  }
  .portfolio__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
  .portfolio__work .work__others-images {
    display: block;
  }
  .portfolio__title {
    font-size: 24px;
  }
  .second-banner__content {
    padding: 20px;
    grid-template-columns: auto;
    background-image: url("public/img/banner/banner_bg_2_m.png");
  }
  .second-banner__btn {
    padding: 2px 14px;
    font-size: 14px;
    line-height: 100%;
  }
  .contacts__map iframe {
    max-width: 280px;
  }
}

@media screen and (max-width: 1280px) {
  .header__bottom {
    display: none;
  }
  .header__download,
  .header__location .location__address,
  .location__text,
  .header__text {
    display: none;
  }
  .header__contact .contact__chat,
  .header__location {
    display: none;
  }
  .header__top::after {
    bottom: 0;
  }
  .header__menu {
    display: flex;
  }
  .services__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .form__fields-wrapper {
    flex-direction: column;
  }
  .answers__statistics {
    flex-direction: column;
  }
  .contact-form {
    background-size: cover;
  }
  .contact-form__wrap {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .contacts__wrap {
    grid-template-columns: 1fr;
    justify-content: center;
    place-content: center;
    place-items: center;
    gap: 40px;
  }
  .contacts__title {
    text-align: center;
  }
}

.modal {
  height: 100vh;
  padding: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--bg-red);
  border-radius: 0 0 24px 24px;
  font-weight: 600;
  color: var(--text-main);
}
.modal ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal a {
  color: inherit;
}
.modal .modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hidden {
  display: none;
}

button:hover,
a:hover {
  filter: brightness(0.8);
  transition: filter 250ms ease-in-out;
}
button:active,
a:active {
  filter: brightness(1);
  transition: filter 100ms ease-in-out;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(45, 78, 24, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 255, 0, 0);
  }
}
